<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wang.myapplication" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.Home.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.AutoViewPage.AutoViewPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="AutoViewPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle.FullScreen" >
            <intent-filter>
                <action android:name="com.wang.autopage" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Consume.ConsumeListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_consume_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.wang.consume" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Consume.EditConsumeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.wang.edit" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Animation.AnimationBackground.AnimationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_animation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.wang.animation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Animation.AnimationDemo.Arcs"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_animation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.Animation.TweenAnimation.AnimationGroupActivity"
            android:label="@string/title_activity_animation_group"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".UI.Animation.CanvasCircle.CanvasCircleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_canvas_circle"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".UI.Animation.AnimationDirectoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_animation_directory"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".UI.Demo.CheckView.LollipopActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_animation_directory"
            android:theme="@style/materialTheme">
        </activity>
        <activity
            android:name=".UI.Demo.DemoMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_animation_directory"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".UI.Demo.CheckView.DetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="共享元素跳转"
            android:theme="@style/materialTheme">
        </activity>
    </application>

</manifest>
